@font-face {
    font-family: font;
    src: url("../assets/Pony.ttf");
}

.my-project {
    font-family: font;
    background-color: rgba(248, 229, 229, 0.863);
    height: 100%;
    width: 100%;
    position: fixed;
}

li {
    display: flex;
}

p {
    color: #ff0000dc;
    padding-right: 10px;
}